[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic ="*"
pyjwt = "*"
fhirclient = "*"
cryptography = "*"
uvicorn = "*"
requests = "*"
xmltodict = "*"
xmlschema = "*"
jwcrypto = "*"
redis = "*"
prometheus-client = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-exporter-otlp = "*"
python-json-logger = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
httpx = "*"
black = "*"
websockets = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.9"
