[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = "*"
httpx = "*"
xmltodict = "*"
uvicorn = {extras = ["standard"], version = "*"}
fhirclient = "~=3.0.0"
redis = "*"
cryptography = "*"
jwcrypto = "*"
celery = "*"
pydantic = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-otlp-proto-grpc = "*"
opentelemetry-instrumentation-fastapi = "*"

[dev-packages]
black = "*"
websockets = "*"
isort = "*"
pytest = "*"
xmlschema = "*"
pre-commit = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.13"
