map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

log_format mtls_debug '$remote_addr - $host [$time_local] "$request" $status $body_bytes_sent '
                      '"$http_user_agent" ssl_client_verify=$ssl_client_verify '
                      'ssl_client_s_dn="$ssl_client_s_dn" ssl_client_i_dn="$ssl_client_i_dn" '
                      'upstream_status=$upstream_status upstream_addr=$upstream_addr';

server {
    listen 80;
    listen [::]:80;
    server_name ${NGINX_PUBLIC_SERVER_NAME} ${NGINX_RELAY_SERVER_NAME};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${NGINX_PUBLIC_SERVER_NAME};
    access_log /var/log/nginx/access.log mtls_debug;

    ssl_certificate ${NGINX_TLS_CERT};
    ssl_certificate_key ${NGINX_TLS_KEY};
    ssl_client_certificate ${NGINX_PUBLIC_CLIENT_CA};
    ssl_verify_client on;

    location / {
        proxy_pass http://${NGINX_UPSTREAM};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_connect_timeout 600;
        proxy_send_timeout 600;
        proxy_read_timeout 600;
        send_timeout 600;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${NGINX_RELAY_SERVER_NAME};
    access_log /var/log/nginx/access.log mtls_debug;

    ssl_certificate ${NGINX_RELAY_TLS_CERT};
    ssl_certificate_key ${NGINX_RELAY_TLS_KEY};
    ssl_client_certificate ${NGINX_RELAY_CLIENT_CA};
    ssl_verify_client on;

    location /relay/ws {
        proxy_pass http://${NGINX_UPSTREAM};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Relay-ClientCert $ssl_client_escaped_cert;
        proxy_set_header X-Relay-Client-Verify $ssl_client_verify;
        proxy_read_timeout 90s;
        proxy_send_timeout 90s;
        proxy_buffering off;
    }

    location / {
        return 404;
    }
}
